{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "trailingComma": "none",
  "jsxBracketSameLine": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": true,
  "arrowParens": "always"
}
